<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFQVzBiq9bKuCYOeXj93-iRpRVBeP9gkU</string>
	<key>GCM_SENDER_ID</key>
	<string>896286332308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventCheckin</string>
	<key>PROJECT_ID</key>
	<string>event-checkin-51cae</string>
	<key>STORAGE_BUCKET</key>
	<string>event-checkin-51cae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896286332308:ios:5faa54d21675ebc4c52b81</string>
</dict>
</plist>